.container {
  margin: 0 auto;
  padding: 0 15px;

  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }

  @for $i from 1 through 12 {
    .col-xs-#{$i} { grid-column: span #{$i}; }
  }

  @include small {
    width: 405px;

    @for $i from 1 through 12 {
      .col-sm-#{$i} { grid-column: span #{$i}; }
    }
  }

  @include medium {
    width: 748px;

    @for $i from 1 through 12 {
      .col-md-#{$i} { grid-column: span #{$i}; }
    }
  }

  @include large {
    width: 1004px;

    @for $i from 1 through 12 {
      .col-lg-#{$i} { grid-column: span #{$i}; }
    }
  }

  @include x-large {
    width: 1420px;

    @for $i from 1 through 12 {
      .col-xlg-#{$i} { grid-column: span #{$i}; }
    }
  }
}
