@import "variables";
@import "animations";
@import "grid";
@import url('https://fonts.googleapis.com/css?family=Nunito');

* { box-sizing: border-box; }

@mixin border-top-bottom {
	border-bottom: 1px solid rgba(black, 0.4);
	border-top: 1px solid rgba(white, 0.4);
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body  {
	// font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font: 16px 'Nunito', sans-serif;
	background: #EDEDED;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-default .navbar-nav > li > a {
	&:focus {
		color: #777;
	}
	&:hover {
		color: #333;
	}
}
